SKIP_PREFLIGHT_CHECK=true
GOOGLE_APPLICATION_PRIVATE_KEY=<private-key>
REACT_APP_SYNOLOGY_ENDPOINT=<https://home.shumiq.synology.me>
REACT_APP_API_ENDPOINT=<http://localhost:5000 or https://anime-api.shumiq.synology.me>
REACT_APP_HOST=<http://localhost:3000 or https://anime.shumiq.synology.me>